#joinmain{width:800px; background:#FFF; padding:30px 30px 75px; margin:auto;}
#joinArea{padding:50px; border-top:2px solid #C33; border-bottom:2px solid #C33; background:#fafdff; margin-top:20px; width:700px;}
#joinArea p{width:405px; margin:auto;}
#joinmain h1{color:#ccc;}


form{width:600px; margin:50px auto;}
td{padding:7px;}
.textin{height:17px; font-size:14px; font-size:14px;}
form tr td:first-child{color:#1d6095;}
form tr td:last-child{color:#666;}
form tr td:last-child input{font-size:12px;}
form hr{margin:20px 0;}
td{border-bottom:1px dashed #ccc;}
td>img{padding-right:10px;}
.jbtn{padding:3px 5px; background:#069; color:white; border-radius:1px;}

