@CHARSET "UTF-8";

li{list-style:none;}
a{text-decoration:none}

#loginWrap{background:url(images/theme_back.jpg);}
#member{width:800px; background:#FFF; padding:30px 30px 75px; margin:auto;}
#member h1{width:100%; margin-bottom:40px; color:#000
;}
#member>p{color:#999; text-align:center; font-size:14px;}
#loginArea{padding:50px 200px; text-align:center; border-top:2px solid #85bcfa; border-bottom:2px solid #85bcfa; background:#FFF; margin-top:20px;}

#logbtn{margin:20px; padding:10px 60px; font-weight:bold; background:#8080ff; display:inline-block; border:none; color:white;}
#logbottom{margin-top:15px; color:#808080; font-size:12px;}
#logbottom a{margin-top:15px; color:#808080; font-size:12px;}
.findidpass{padding-left:30px;}
#loginForm{margin-top:20px;}

ul input{height:20px; font-size:16px; padding:10px;}
