<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mommefatale.admin.sitestatus.dao.StatusMapper">
	<resultMap id="toPaymentVO" type="com.mommefatale.admin.sitestatus.model.GradeVO">
		<result property="grade" column="GRADE_CODE_NAME" jdbcType="VARCHAR"></result>
		<result property="count" column="cnt" jdbcType="BIGINT"></result>
	</resultMap>
	<select id="gradeStatus" resultMap="toPaymentVO">
		select GRADE_CODE_NAME, count(GRADE_CODE_NAME) as cnt from member group by GRADE_CODE_NAME order by GRADE_CODE_NAME
	</select>
</mapper>
