<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mommefatale.admin.sitestatus.dao.StatusMapper">
	<resultMap id="toGradeVO" type="com.mommefatale.admin.sitestatus.model.GradeVO">
		<result property="grade" column="GRADE_CODE_NAME" jdbcType="VARCHAR"></result>
		<result property="count" column="cnt" jdbcType="BIGINT"></result>
	</resultMap>
	<resultMap id="toVisitVO" type="com.mommefatale.admin.sitestatus.model.VisitVO">
		<result property="date" column="JOIN_DATE" jdbcType="DATE"></result>
		<result property="count" column="cnt" jdbcType="BIGINT"></result>
	</resultMap>
	<select id="gradeStatus" resultMap="toGradeVO">
		select GRADE_CODE_NAME, count(GRADE_CODE_NAME) as cnt from member group by GRADE_CODE_NAME order by GRADE_CODE_NAME
	</select>
	<select id="visitStatus" resultMap="toVisitVO">
		select join_date, count(join_date) as cnt from (select SUBSTR(REPLACE(MEMBER_JOIN_DATE,'-',''),0,8) as join_date from member) where join_date between to_date(sysdate-7) and to_date(sysdate) group by join_date order by join_date
	</select>
</mapper>
