@CHARSET "UTF-8";
.title{font-size:40px; font-family:Georgia, "Times New Roman", Times, serif; 
font-weight:bold; color:#09C; text-align: center; margin:20px;}
.board{margin:50px auto;}
#community_board{width:800px; margin:50px auto 0;}
.write_button{text-align: right;}
.no{text-align:center; width:20px;}
#no{text-align:center; width:20px;}
.writer{text-align:right;}
#writer{text-align:center; width:100px;}
#space{width:250px;}
#regdate{text-align:center; width:150px;}
#view{text-align:right; width:10px;}
#subject{text-align:left;}
#content{text-align:left; height:250px;}
.board_hr{width:800px; size:1px; margin:10px auto;}
#footList{margin:10px auto;}