@CHARSET "UTF-8";
.contents{width:800px; margin:0 auto; padding:10px 0 30px 0;}
.title{font-size:45px; font-family:Georgia, "Times New Roman", Times, serif; 
	font-weight:bold; color:#09C; text-align: center; margin:20px;}

.info{border:2px solid #CCC; border-radius:10px; padding-top:5px; margin-top:5px; }
.dcontent{margin-left:35px; font-size:14px; font-weight:bold; color:#999; padding-top:10px;}
.btn1{float:right;background:transparent;overflow:visible;cursor:pointer;border:0 none;padding:0px;margin:10px;background:transparent;*overflow:visible;cursor:pointer;}

#hiddenContent{margin:-5px 10px 15px 20px; font-size:12px; color:#999;display:none;}
#hiddenContent2{margin:-5px 10px 15px 20px; font-size:12px; color:#999;display:none;}
#hiddenContent3{margin:-5px 10px 15px 20px; font-size:12px; color:#999;display:none;}
#hiddenContent4{margin:-5px 10px 15px 20px; font-size:12px; color:#999;display:none;}

#qna_board{width:800px; margin:30px auto 0;}
.qna_list th{height:35px; background-color: #dff9f7; 
	border-top:2px solid #92c8e4; border-bottom:2px solid #92c8e4;}	
.qna_list td{height:30px;}
.write_button{text-align: right; background-color:#72b7dc; 
padding:5px; color:#ffffff; border-radius:5px;}
.commit_btn{background-color:#72b7dc; padding:5px; color:#ffffff; border-radius:5px;}
#writeForm th{height:35px; background-color: #dff9f7; border-top:2px solid #92c8e4;}
.no{text-align:center; width:20px;}
#no{text-align:center; width:20px; background-color: #f4fdfd; border-top:2px solid #92c8e4;}
.writer{text-align:center;}
#writer{text-align:center; width:100px; background-color: #f4fdfd; border-top:2px solid #92c8e4;}
#space{width:250px; background-color: #f4fdfd; border-top:2px solid #92c8e4;}
#regdate{text-align:center; width:150px; background-color: #f4fdfd; border-top:2px solid #92c8e4;}
#view{text-align:right; width:10px; background-color: #f4fdfd; border-top:2px solid #92c8e4;}
.subject{border-bottom:2px solid #92c8e4;}
#subject{text-align:left; background-color: #f4fdfd; border-top:2px solid #92c8e4; border-bottom:2px solid #92c8e4;}
#content{text-align:left; height:250px;}
.board_hr{width:800px; height:1px; margin:10px auto; background-color:#7ebee0;}
#footList{margin:10px auto;}