<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace = "GalleryMapper">

	<resultMap id="galleryResultMap" type="com.mommefatale.gallery.model.GalleryVO">
		<result property="no" column="gallery_no" jdbcType="BIGINT" />
		<result property="writer" column="gallery_writer" jdbcType="VARCHAR" />
		<result property="subject" column="gallery_subject" jdbcType="VARCHAR" />
		<result property="content" column="gallery_content" jdbcType="VARCHAR" />
		<result property="regdate" column="gallery_regdate" jdbcType="VARCHAR" />
		<result property="update_date" column="gallery_update_date" jdbcType="VARCHAR" />		
		<result property="image" column="gallery_image" jdbcType="VARCHAR" />
		<result property="view" column="gallery_view" jdbcType="BIGINT" />
	</resultMap>

	<!--  Gallery 리스트 가져오기 -->
	<select id="galleryList" parameterType="java.util.Map"
		resultMap="galleryResultMap">
		<![CDATA[select * from 
						(select rownum rnum, gallery_no, gallery_image, gallery_subject, gallery_writer, gallery_regdate, gallery_view from 
							(select * from gallery order by gallery_no desc)
						) 
					 where rnum >= #{startRow} and rnum <= #{endRow}]]>
	</select>
	
	<!-- Gallery 총 게시물 수 -->
	<select id="galleryCount" resultType="java.lang.Integer">
		<![CDATA[select count(*) from gallery]]>
	</select>
	
	<!-- Gallery 글쓰기 -->
	<insert id="galleryWrite" parameterType="java.util.Map">
		<![CDATA[insert into gallery(gallery_no, gallery_writer, gallery_subject, 
		gallery_content, gallery_regdate, gallery_update_date, gallery_image) 
		values(gallery_seq.nextval, #{writer}, #{subject}, #{content}, sysdate, sysdate, #{image})]]>
	</insert>
	
	<!-- Gallery 글 내용 가져오기 -->
	<select id="galleryContent" parameterType="java.lang.Integer"
		resultMap="galleryResultMap">
		<![CDATA[select * from gallery where gallery_no=#{no}]]>
	</select>
	
	<!-- Gallery 조회수 증가 -->
	<update id="galleryView" parameterType="java.lang.Integer">
		<![CDATA[update gallery set gallery_view=gallery_view + 1 where gallery_no = #{no}]]>
	</update>
	
	<!-- Gallery 글수정 -->
	<update id="galleryUpdate" parameterType="java.util.Map">
		<![CDATA[update gallery set gallery_writer=#{writer}, gallery_subject=#{subject}, 
		gallery_content=#{content}, gallery_update_date=sysdate, gallery_image=#{image} 
		where gallery_no=#{no}]]>
	</update>
	
		<!-- Gallery 글삭제 -->
	<delete id="galleryDelete" parameterType="java.lang.Integer">
		<![CDATA[delete from gallery where gallery_no=#{no}]]>
	</delete>
	
</mapper>