@CHARSET "UTF-8";
.member_table{clear:both; width:1003px; height:600px; margin:0 auto;}
.member_table input{height:25px;}
#member_list{width:700px; margin:20px auto; table-layout: fixed;}
#member_list th{text-align:center; background-color:#EEE; height:30px;}
#memberBye_list th{text-align:center; background-color:#EEE; height:30px;}
#memberBye_list{width:700px; margin:20px auto;overflow:auto; table-layout: fixed;}
.title{clear:both; margin:20px auto; text-align:center; color:#1ebae1;}
#category_id{width:100px;}
#category_name{width:100px;}

#modifytable{width:400px;}
.sub{width:400px; margin:0 auto; font-weight:bolder; border-bottom:3px solid #CCC; padding-bottom:3px;}
.info{width:400px; margin:0 auto; border-collapse:collapse; border:1px solid #CCC; font-size:12px; margin-top:10px;}
.info td{padding:3px;}
.info tr>td{font-weight:bolder;}
.col{color:#09F;}
label{padding:5px;margin:0;}
#memberUpdateForm input, #memberUpdateForm select{width:95%;}
.itemInfo{background-color:#fafafa;text-align:right;}

.chart{margin:0 auto; padding-left:50px; min-width: 500px;}