<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MemberMapper">
	<resultMap id="memberResultMap" type="com.mommefatale.admin.member.model.MemberVO">
		<result property="name" column="MEMBER_NAME" jdbcType="VARCHAR" />
		<result property="gender" column="MEMBER_GENDER" jdbcType="VARCHAR" />
		<result property="id" column="MEMBER_ID" jdbcType="VARCHAR" />
		<result property="pw" column="MEMBER_PW" jdbcType="VARCHAR" />
		<result property="email" column="MEMBER_EMAIL" jdbcType="VARCHAR" />
		<result property="zip" column="MEMBER_ZIP" jdbcType="VARCHAR" />
		<result property="address1" column="MEMBER_ADDRESS1" jdbcType="VARCHAR" />
		<result property="address2" column="MEMBER_ADDRESS2" jdbcType="VARCHAR" />
		<result property="phone" column="MEMBER_PHONE" jdbcType="VARCHAR" />
		<result property="birthday" column="MEMBER_BIRTHDAY" jdbcType="DATE" />
		<result property="grade" column="GRADE_CODE_NAME" jdbcType="VARCHAR" />
		<result property="height" column="MEMBER_HEIGHT" jdbcType="BIGINT" />
		<result property="weight" column="MEMBER_WEIGHT" jdbcType="BIGINT" />
		<result property="bmi" column="MEMBER_BMI" jdbcType="BIGINT" />
		<result property="shape" column="SHAPE_CODE" jdbcType="BIGINT" />
		<result property="fat_part1" column="FAT_PART1" jdbcType="VARCHAR" />
		<result property="fat_part2" column="FAT_PART2" jdbcType="VARCHAR" />
		<result property="fat_part3" column="FAT_PART3" jdbcType="VARCHAR" />
		<result property="fat_part4" column="FAT_PART4" jdbcType="VARCHAR" />
		<result property="fat_part5" column="FAT_PART5" jdbcType="VARCHAR" />
		<result property="fat_part6" column="FAT_PART6" jdbcType="VARCHAR" />
		<result property="activity_code1" column="ACTIVITY_CODE1" jdbcType="VARCHAR" />
		<result property="activity_code2" column="ACTIVITY_CODE2" jdbcType="VARCHAR" />
		<result property="activity_code3" column="ACTIVITY_CODE3" jdbcType="VARCHAR" />
		<result property="activity_code4" column="ACTIVITY_CODE4" jdbcType="VARCHAR" />
		<result property="activity_code5" column="ACTIVITY_CODE5" jdbcType="VARCHAR" />
		<result property="kcal" column="MEMBER_KCAL" jdbcType="BIGINT" />
		<result property="coupon" column="COUPONS_NO" jdbcType="BIGINT" />
		<result property="point" column="MEMBER_POINT" jdbcType="BIGINT"/>
		<result property="state" column="MEMBER_STATE" jdbcType="BIGINT" />
		<result property="join_date" column="MEMBER_JOIN_DATE" jdbcType="DATE" />
		<result property="visit_count" column="MEMBER_VISIT_COUNT" jdbcType="BIGINT" />
		<result property="last_visit_date" column="MEMBER_LAST_VISIT_DATE" jdbcType="DATE" />
	</resultMap>
<!-- 회원 목록 조건별로 가져오기 -->
	<select id="memberList" parameterType="java.util.Map" resultMap="memberResultMap">
		<![CDATA[
		select * from 
		(select rownum rnum, member_name, member_gender, member_id, member_pw, member_email, member_zip, 
		member_address1, member_address2, member_phone, to_char(to_date(member_birthday),'YYYY-MM-DD') as member_birthday, 
		grade_code_name, member_height, member_weight, member_bmi, shape_code, 
		fat_part1, fat_part2, fat_part3, fat_part4, fat_part5, fat_part6, 
		activity_code1, activity_code2, activity_code3, activity_code4, activity_code5, 
		member_kcal, coupons_no, member_point, member_state, 
		to_char(to_date(member_join_date),'YYYY-MM-DD') as member_join_date, member_visit_count, 
		to_char(to_date(member_last_visit_date),'YYYY-MM-DD') as member_last_visit_date 
		from (select * from member where member_state = 1 order by member_join_date desc, member_name asc))
		where rnum >= #{startRow} and rnum <= #{endRow}]]>
		<if test='id != null and !id.equals("")'>
		and member_id like '%${id}%'
		</if>
		<if test='name != null and !name.equals("")'>
		and member_name like '%${name}%'
		</if>
		<if test='gender != null and !gender.equals("")'>
		and member_gender = #{gender}
		</if>
		<if test='grade != null and !grade.equals("")'>
		and grade_code_name = #{grade}
		</if>
		<if test='join_date != null and !join_date.equals("")'>
		and member_join_date = to_date(#{join_date})
		</if>
		<if test='last_visit_date != null and !last_visit_date.equals("")'>
		and member_last_visit_date = to_date(#{last_visit_date})
		</if>
	</select>

<!-- 회원 수 가져오기 -->	
	<select id="memberCount" resultType="java.lang.Integer">
		select count(*) from member where member_state = 1
	</select>
	
<!--  탈퇴한 회원 목록 가져오기 -->	
	<select id="memberByeList" resultMap="memberResultMap">
		select 	member_name, member_gender, member_id, member_pw, member_email, member_zip, member_address1, member_address2, 
					member_phone, to_char(to_date(member_birthday),'YYYY-MM-DD') as member_birthday, grade_code_name, member_height, 
					member_weight, member_bmi, shape_code, fat_part1, fat_part2, fat_part3, fat_part4, fat_part5, fat_part6,
					activity_code1, activity_code2, activity_code3, activity_code4, activity_code5, 
					member_kcal, coupons_no, member_point, member_state, to_char(to_date(member_join_date),'YYYY-MM-DD') as member_join_date, 
					member_visit_count, to_char(to_date(member_last_visit_date),'YYYY-MM-DD') as member_last_visit_date  
		from member where member_state = 0 order by member_last_visit_date desc
	</select>
	
<!-- 수정할 회원 상세정보 가져오기-->
	<select id="memberInfo" parameterType="String" resultMap="memberResultMap">
		select   member_name, member_gender, member_id, member_pw, member_email, member_zip, member_address1, member_address2, 
					member_phone, to_char(to_date(member_birthday),'YYYY-MM-DD') as member_birthday, grade_code_name, member_height, 
					member_weight, member_bmi, shape_code, fat_part1, fat_part2, fat_part3, fat_part4, fat_part5, fat_part6,
					activity_code1, activity_code2, activity_code3, activity_code4, activity_code5, 
					member_kcal, coupons_no, member_point, member_state, to_char(to_date(member_join_date),'YYYY-MM-DD') as member_join_date, 
					member_visit_count, to_char(to_date(member_last_visit_date),'YYYY-MM-DD') as member_last_visit_date 
		from member 
		where member_id = #{id}
	</select>
	
<!-- 회원 정보 수정하기 -->
	<update id="memberUpdate" parameterType="com.mommefatale.admin.member.model.MemberVO">
		update member set
			grade_code_name = #{grade},
			member_point = #{point},
			member_state = #{state}
		where member_id=#{id}
	</update>
</mapper>