@CHARSET "UTF-8";

/*초기화*/

h1{color:#699}
h2{color:#09F}

hr{display:block; margin:0 auto; border:0; height:2px; background:#09F; width:750px;}

.skip{font-size:0; width:0; height:0; line-height:0; position:absolute; left:-9999px;}

.align_center{text-align:center;}
.align_right{text-align:right;}
.align_left{text-align:left;}

#wrapcontents{margin:0 auto; text-align:center;}

#content_banner{text-align:center; clear:both;} 
#contentmain{width:600px; top:75px; position:relative; margin:0 auto;}

#otherpages h3 {}
#pageFor h1{text-align:center; position:relative; top:-50px;}

/*메인컨텐츠*/

#main_content{clear:both; text-align:center; min-width:1003px; margin:20px auto;}
#main_content h2{padding-bottom:10px;}


.fix_button{position:absolute; top:650px; left:900px; }
.item ul{margin:20px 10px 20px 10px;}
.item li{display:inline-block; padding:20px 20px 20px 20px;}
.item ul li img{width:300px; height:200px;}

.date{color:#9f9f9f; font-family:Tahoma; font-size:8pt; vertical-align:5%; padding: 0 8px 0 7px;}

.exercise_table{display:inline-block; border-spacing:30px;}


.galleria{position:relative; left:100; width: 700px; height: 400px; background:#09F }


/* jssor slider arrow navigator skin 05 css */
        
        .jssora05l                  (normal)
        .jssora05r                  (normal)
        .jssora05l:hover            (normal mouseover)
        .jssora05r:hover            (normal mouseover)
        .jssora05l.jssora05ldn      (mousedown)
        .jssora05r.jssora05rdn      (mousedown)
        
        .jssora05l, .jssora05r {
            display: block;
            position: absolute;
            /* size of arrow element */
            width: 40px;
            height: 40px;
            cursor: pointer;
            background: url('img/a17.png') no-repeat;
            overflow: hidden;
        }
        .jssora05l { background-position: -10px -40px; }
        .jssora05r { background-position: -70px -40px; }
        .jssora05l:hover { background-position: -130px -40px; }
        .jssora05r:hover { background-position: -190px -40px; }
        .jssora05l.jssora05ldn { background-position: -250px -40px; }
        .jssora05r.jssora05rdn { background-position: -310px -40px; }

        /* jssor slider thumbnail navigator skin 01 css */
        /*
        .jssort01 .p            (normal)
        .jssort01 .p:hover      (normal mouseover)
        .jssort01 .p.pav        (active)
        .jssort01 .p.pdn        (mousedown)
        */
        .jssort01 .p {
            position: absolute;
            top: 0;
            left: 0;
            width: 152px;
            height: 72px;
        }
        
        .jssort01 .t {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border: none;
        }
        
        .jssort01 .w {
            position: absolute;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
        }
        
        .jssort01 .c {
            position: absolute;
            top: 0px;
            left: 0px;
            width: 148px;
            height: 68px;
            border: #000 2px solid;
            box-sizing: content-box;
            background: url('img/t01.png') -800px -800px no-repeat;
            _background: none;
        }
        
        .jssort01 .pav .c {
            top: 2px;
            _top: 0px;
            left: 2px;
            _left: 0px;
            width: 148px;
            height: 68px;
            border: #000 0px solid;
            _border: #fff 2px solid;
            background-position: 50% 50%;
        }
        
        .jssort01 .p:hover .c {
            top: 0px;
            left: 0px;
            width: 150px;
            height: 70px;
            border: #fff 1px solid;
            background-position: 50% 50%;
        }
        
        .jssort01 .p.pdn .c {
            background-position: 50% 50%;
            width: 148px;
            height: 68px;
            border: #000 2px solid;
        }
        
        * html .jssort01 .c, * html .jssort01 .pdn .c, * html .jssort01 .pav .c {
            /* ie quirks mode adjust */
            width /**/: 152px;
            height /**/: 72px;
        }
        
