<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mommefatale.cart.dao.CartMapper">
	<resultMap id="toCartVO" type="com.mommefatale.cart.model.CartVO">
		<result property="cart_no" column="CART_NO" jdbcType="BIGINT"/>
		<result property="user_id" column="MEMBER_ID" jdbcType="VARCHAR"/>
		<result property="item_no" column="ITEM_NO" jdbcType="BIGINT"/>
		<result property="item_name" column="ITEM_NAME" jdbcType="VARCHAR"/>
		<result property="item_category" column="CATEGORY_NO" jdbcType="BIGINT"/>
		<result property="item_discount" column="ITEM_PRICE_DISCOUNT" jdbcType="BIGINT"/>
		<result property="item_size" column="OPTION_SIZE" jdbcType="VARCHAR"/>
		<result property="cart_count" column="CART_COUNT" jdbcType="BIGINT"/>
		<result property="main_img" column="ITEM_IMAGE" jdbcType="VARCHAR"/>
		<result property="cart_regdate" column="CART_REGDATE" jdbcType="DATE"/>
		<result property="saving" column="CART_SAVING" jdbcType="DATE"/>
		<result property="fee" column="CART_FEE" jdbcType="DATE"/>
	</resultMap>
	<select id="insertCart" parameterType="com.mommefatale.cart.model.CartVO">
		INSERT INTO CART(CART_NO,ITEM_NO,MEMBER_ID,CART_EXDATE,CART_COUNT,CART_SAVING,CART_FEE)VALUES(cart_seq.nextval,#{item_no},#{user_id},sysdate+30,#{cart_count},#{saving},#{fee})
	</select>
	<select id="cartList" parameterType="java.lang.String" resultMap="toCartVO">
		<![CDATA[select cart_no, member_id, item_no, item_name, category_no, 
		item_price_discount, option_size, cart_count, item_image, cart_regdate,cart_saving,
		cart_fee from member join cart using(member_id) join item using(item_no) 
		where member_id=#{userid} and sysdate < CART_EXDATE]]>
	</select>
	<select id="getCart" parameterType="java.lang.Integer" resultMap="toCartVO">
		select cart_no, member_id, item_no, item_name, category_no, item_price_discount, option_size, cart_count, item_image, cart_regdate,cart_saving,cart_fee from member join cart using(member_id) join item using(item_no) where cart_no=#{cart_no}
	</select>
	<select id="updateCart" parameterType="com.mommefatale.cart.model.CartVO">
		<![CDATA[update cart set cart_count = cart_count + #{cart_count} where item_no = #{item_no} and member_id = #{user_id} and sysdate < CART_EXDATE]]>
	</select>
	
	<select id="getCartItem" parameterType="java.util.Map" resultType="java.lang.String">
		select item_no from cart where member_id = #{userid} and item_no = #{item}
	</select>
	<select id="cartDelete" parameterType="java.lang.String">
		delete from cart where cart_no = #{cart_no}
	</select>
	
</mapper>