<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

	<!-- The definition of the Root Spring Container shared by all Servlets 
		and Filters -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
		/WEB-INF/spring/commonscontexts/applicationContext.xml
		/WEB-INF/spring/commonscontexts/resource-context.xml
		<!--  추가로 사용한 컨텍스트 -->
		</param-value>
	</context-param>

	<!-- Creates the Spring Container shared by all Servlets and Filters -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<!-- 사용자 Context 등록 -->
	<servlet>
		<servlet-name>spring</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>
				/WEB-INF/spring/memberContexts/spring-servlet.xml
				/WEB-INF/spring/memberContexts/userlogin-servlet.xml
				/WEB-INF/spring/memberContexts/board-servlet.xml
				/WEB-INF/spring/memberContexts/contents-servlet.xml
				/WEB-INF/spring/memberContexts/item-servlet.xml
				/WEB-INF/spring/memberContexts/qna-servlet.xml
				/WEB-INF/spring/memberContexts/gallery-servlet.xml
				/WEB-INF/spring/memberContexts/cart-servlet.xml
				/WEB-INF/spring/memberContexts/payment-servlet.xml
				/WEB-INF/spring/memberContexts/todaykcal-servlet.xml
				/WEB-INF/spring/memberContexts/wish-servlet.xml
		</param-value>		
		</init-param>
		<load-on-startup>0</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>spring</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>

	<!-- 관리자 Context 등록 -->
	<servlet>
		<servlet-name>admin</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>
				/WEB-INF/spring/adminContexts/admin-servlet.xml
				/WEB-INF/spring/adminContexts/item-servlet.xml
				/WEB-INF/spring/adminContexts/member-servlet.xml
				/WEB-INF/spring/adminContexts/payment-servlet.xml
				/WEB-INF/spring/adminContexts/status-servlet.xml
				/WEB-INF/spring/adminContexts/gender-servlet.xml
				<!-- 이 아래부터 각각의 컨텍스트 -->
			</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>admin</servlet-name>
		<url-pattern>*.admin</url-pattern>
	</servlet-mapping>
	
<!-- json -->
	<servlet>
		<servlet-name>json</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>
				/WEB-INF/spring/memberContexts/todaykcal-servlet.xml
				/WEB-INF/spring/memberContexts/payment-servlet.xml
				/WEB-INF/spring/memberContexts/item-servlet.xml
				/WEB-INF/spring/adminContexts/member-servlet.xml
				/WEB-INF/spring/adminContexts/item-servlet.xml
				/WEB-INF/spring/adminContexts/payment-servlet.xml
				/WEB-INF/spring/adminContexts/gender-servlet.xml
				<!-- 이 아래부터 각각의 컨텍스트 -->
			</param-value>
		</init-param>
		<load-on-startup>2</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>json</servlet-name>
		<url-pattern>*.json</url-pattern>
	</servlet-mapping>

<!-- CKFinder -->
	<servlet>
		<servlet-name>ConnectorServlet</servlet-name>
		<servlet-class>com.ckfinder.connector.ConnectorServlet</servlet-class>
		<init-param>
			<param-name>XMLConfig</param-name>
			<param-value>/WEB-INF/config.xml</param-value>
		</init-param>
		<init-param>
			<param-name>debug</param-name>
			<param-value>false</param-value>
		</init-param>
		<load-on-startup>3</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>ConnectorServlet</servlet-name>
		<url-pattern>
			/ckfinder/core/connector/java/connector.java
		</url-pattern>
	</servlet-mapping>
	<filter>
		<filter-name>FileUploadFilter</filter-name>
		<filter-class>com.ckfinder.connector.FileUploadFilter</filter-class>
                <init-param>
                    <param-name>sessionCookieName</param-name>
                    <param-value>JSESSIONID</param-value>
                </init-param>
                <init-param>
                    <param-name>sessionParameterName</param-name>
                    <param-value>jsessionid</param-value>
                </init-param>
	</filter>
	<filter-mapping>
		<filter-name>FileUploadFilter</filter-name>
		<url-pattern>
			/ckfinder/core/connector/java/connector.java
     	 </url-pattern>
	</filter-mapping>
	<session-config>
		<session-timeout>10</session-timeout>
	</session-config>
	<welcome-file-list>
		<welcome-file>welcome.html</welcome-file>
	</welcome-file-list>



	<!-- 인코딩 필터 -->
	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
</web-app>