@CHARSET "UTF-8";
.title{font-size:40px; font-family:Georgia, "Times New Roman", Times, serif; 
font-weight:bold; color:#09C; text-align: center; margin:20px;}
.galleryList li img{margin:10px; width:200px; border: solid 2px #EEE; }
.galleryList li{float:left; width:300px; margin:10px;}
.galleryList li span{display:block; margin-left:50px;}
#main_content {width:800px; margin:50px auto; text-align:center;}
.write_button{float: right; margin-right:60px;}
.board_hr{width:900px; size:1px; margin:10px 50px;}
#footList{margin:10px auto;}
.board{margin:50px auto;}
#gallery_board{margin:50px auto 0;}
.writer{text-align:right;}
#writer{text-align:center; width:100px;}
#regdate{text-align:center; width:150px;}
#view{text-align:right; width:10px;}
#content{text-align:left; height:700px;}