<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ExerciseMapper">
   <resultMap id="ExerciseVO" type="com.mommefatale.contents.model.ExerciseVO">
      <result property="no" column="exercise_no" jdbcType="BIGINT" />
      <result property="category" column="exercise_category"
         jdbcType="VARCHAR" />
      <result property="subject" column="exercise_subject" jdbcType="VARCHAR" />
      <result property="content" column="exercise_content" jdbcType="VARCHAR" />
      <result property="image" column="exercise_image" jdbcType="VARCHAR" />
      <result property="regdate" column="exercise_regdate" jdbcType="VARCHAR" />
      <result property="view" column="exercise_view" jdbcType="BIGINT" />
   </resultMap>

  <!-- Exercise 카테고리 분류 -->
	<select id="listCategory" parameterType="java.util.Map" resultMap="ExerciseVO">
	select * from (select rownum rnum, exercise_no, exercise_category,
	exercise_subject, exercise_content,
	exercise_image, exercise_regdate, exercise_view from (select * from exercise where
	exercise_category = #{category}

	order by exercise_no desc

	)) where <![CDATA[rnum >= #{startRow} and rnum <= #{endRow}
		]]>
</select>

   <!-- Exercise 총 게시물 수 -->
   <select id="exerciseCount" resultType="java.lang.Integer">
      <![CDATA[select count(*) from exercise]]>
   </select>

	<select id="getCategoryCount" parameterType="java.lang.String" resultType="java.lang.Integer">
		select count(*) from exercise where exercise_category = #{category}
	</select>

   <!-- Exercise 글쓰기 -->
   <insert id="exerciseWrite" parameterType="java.util.Map">
      <![CDATA[insert into exercise(exercise_no, exercise_category, exercise_subject, exercise_content, exercise_image, exercise_regdate)
       values (exercise_seq.nextval, #{category}, #{subject}, #{content}, #{image}, sysdate) ]]>
   </insert>

   <!-- Exercise 글 내용 가져오기 -->
   <select id="exerciseContent" parameterType="java.lang.Integer"
      resultMap="ExerciseVO">
      <![CDATA[select * from exercise where exercise_no=#{no}]]>
   </select>
   
   <!-- Exercise 조회수 증가 -->
   <update id="exerciseView" parameterType="java.lang.Integer">
      <![CDATA[update exercise set exercise_view=exercise_view + 1 where exercise_no = #{no} ]]>
   </update>
   
   <!-- Exercise 수정 -->   	
	<select id="exerciseUpdate" parameterType="com.mommefatale.contents.model.ExerciseVO">
		update exercise set exercise_subject=#{subject}, exercise_conents=#{contents}, exercise_image=#{image} where exercise_no = #{no}
	</select>

	
</mapper>