<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<mappers>
		<mapper resource="com/mommefatale/user/dao/UserMapper.xml"/>
		<mapper resource="com/mommefatale/board/dao/BoardMapper.xml"/>
		<mapper resource="com/mommefatale/item/dao/ItemMapper.xml"/>
		<mapper resource="com/mommefatale/qna/dao/QnaMapper.xml"/>
		<mapper resource="com/mommefatale/gallery/dao/GalleryMapper.xml"/>
		<mapper resource="com/mommefatale/cart/dao/CartMapper.xml"/>
		<mapper resource="com/mommefatale/todaykcal/dao/TodayKcalMapper.xml"/>
		<mapper resource="com/mommefatale/payment/dao/PaymentMapper.xml"/>
	</mappers>
</configuration>